<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> evitaron que el articulo pudiera guardarse:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title %>: <%= f.text_field :title %><br />
  <%= f.label :content %>: <%= f.text_field :content %><br />
  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
